<div id="album" *ngIf="album">
  <header class="album-header">
      <div class="row">
          <div class="col-md-4">
            <div *ngIf="album.images.length > 0">
                <img class="album-thumb img-fluid rounded-circle" src="{{album.images[0].url}}" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h4 *ngIf="album.artists.length > 0">
              <span *ngFor="let artist of album.artists">
                {{artist.name}}
              </span>
            </h4>
            <h2>{{album.name}}</h2>
            <h5>ReleaseDate: {{album.release_date}}</h5>
            <a href="{{album.external_urls.spotify}}"  target="_blank" class="btn btn-primary btn-block">Listen On Spotify</a>
          </div>
        </div>
  </header>
  <div class="album-tracks">
    <h2>Album Tracks</h2>
    <div *ngFor="let track of album.tracks.items">
      <div class="well">
        <h5>{{track.track_no}} - {{track.name}}</h5>
        <a href="{{track.preview_url}}" target="_blank">Preview Song</a>
      </div>
    </div>
  </div>
  </div>


