<div *ngIf = "artist">
<header class="artist header">
  <div *ngIf="artist.images.length > 0">
    <img class = "art-thumb rounded-circle img-fluid"src="{{artist.images[0].url}}" alt="">
  </div>
  <h1>{{artist.name}}</h1>

  <p *ngIf="artist.genres.length > 0">
      Geners: <span *ngFor="let genre of artist.genres">{{genre}}</span>
  </p>
</header>
<div class="art-album">
<div class="row">
  <div *ngFor="let album of albums">
    <div class="col-md-4">
      <div class="album well">
        <div *ngIf="album.images.length > 0">
          <img class = "album-thumb img-thumbnail img-fluid"src="{{album.images[0].url}}" alt="">
          <h4>{{album.name}}</h4>
          <a [routerLink]="['/album', album.id]" class="btn btn-primary btn-block">Album Details</a>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
</div>
</div>
