.artist header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #333333;
}

.art-thumb {
  width: 80px;
  height: auto;
  float: left;
  margin-left: 10px;
}

.art-album .well {
  margin-bottom: 20px;
  overflow: auto;
  min-height: 400px;
  width: 261px;
}

.album {
  text-align: center;
  background: #333333;
  padding: 10px 20px;
  border: 1px solid #666666;
}
.album-thumb {
  width: 100%;
}
