<h1>Need Music!</h1>
<p class="lead">Music is an art form and cultural activity whose medium is sound organized in time. The common elements of music are pitch rhythm dynamics (loudness and softness), and the sonic qualities of timbre and texture (which are sometimes termed the "color" of a musical sound).</p>

<form action="">
  <div class="form-group">
  <input type="text" name="searchStr" [(ngModel)] = "searchStr" class="form-control" (keyup)="searchMusic()">
  </div>
</form>
<div *ngIf = "searchRes">
  <div *ngFor="let res of searchRes">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="search-res well">
          <h4>{{res.name}}</h4>
        </div> -->
        <div class="list-group">
          <a [routerLink]="['/artist', res.id]" class="list-group-item list-group-item-action">
            <h3>{{res.name}}</h3>
            <strong>Geners:</strong>
            <span *ngFor="let gener of res.genres">{{gener}}</span>
          </a>

          <div>

          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
